html,body{
  width:100%;
  margin:0;
  text-align: center;
  vertical-align: middle;
  padding:0;
}

canvas {
  width:100%;
  max-width:600px;
  margin:0 auto;
  float:top;
  z-index:-1;
}